<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.friendsbookcse2nt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.friendsbookcse2nt.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
>
        </activity>
        <activity
            android:name="com.example.friendsbookcse2nt.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name="AllFriendsDetails" >
        </activity>
        <activity android:name="TomaCv" >
        </activity>
        <activity android:name="AnupCv"></activity>
        <activity android:name="EmonCv"></activity>
        <activity android:name="JuealCv"></activity>
        
    </application>

</manifest>